:root {
    --white: #ffffff;
    --background-header: #868b9c;
    --background-submenu: #939393;
    --grey: #85888C;
    --yellow: #FFE468;
    --verde-fluor: rgb(100, 190, 100);
    --footer-background: #008B8B;
    --resaltado: red;
    --verde:#23A036;
    --black:#000000;
    --font-family: "Poppins", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font-family: var(--font-family);
}
/*****************/
/************ HEADER *************/
.header-container {
    background-color: var(--background-header);
    display: grid;
    grid-template-columns: minmax(200px 400px) auto;
    grid-template-rows: auto 1fr;
}

.top-bar {
    display: none;
    text-align: end;
    justify-content: space-around;
    background-color: var(--black);
    color: var(--white);
    padding-inline: 20px;
    font-size: small;
}
.top-bar-phone{
    margin-right: 20px;
    padding-block: 10px;

}
.linea-vertical{

}
.top-bar-email{
    margin-left: 10px;
    padding-block: 10px;

}
.top-bar i{
    color: var(--yellow);
}
.top-bar-social-links{
    color: var(--yellow);

}

.show-menu-cb {
    display: none;
}

.show-menu-lb {
    cursor: pointer;
    text-align: right;
    display: flex;
    justify-content: end;
    align-content: center;
}

nav {
    display: none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

input[type=checkbox]:checked~nav {
    display: block;
}

.nav-menu {
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(1.5rem +4vw);
    color: var(--yellow);
    background-color: var(--verde-fluor);
}



/******** MAIN *****************/
.main-container {
    background-color: var(--yellow);
}

.seccion-1 {
    display: flex;
}

.section-1-punto {
    width: 30%;
}

.section-contact-info {
    display: flex;
    flex-direction: column;


}

.info-element {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.info-element-green {
    background-color: var(--verde-fluor);
}

.info-element-yellow {
    background-color: var(--yellow);
}

/*********** FOOTER ************/
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.foot-info-1 {
    height: 150px;
    background-color: var(--resaltado);
}

.foot-info-2 {
    height: 50px;
    background-color: var(--white);
}



/*********** DESKTOP DESIGN *****************/
@media screen and (min-width:640px) {

    /************HEADER****************/
    .top-bar {
        display: flex;
        text-align: end;
        justify-content: space-between;

    }
    .logo{
        transition: font-sizae 1s linear;
    }

    .top-bar-contact {
        display: flex;

    }

    .show-menu-lb {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .menu {
        display: flex;
        align-items: center;
    }



    /************* MAIN**************/

    .section-contact-info {

        flex-direction: row;

    }

    /********** FOOTER ************/
    .footer-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }


}
/*********** DESKTOP DESIGN *****************/
@media screen and (min-width:950px) {
    .logo{
        font-size: 72px;
        transition: font-sizae 0.5s linear;

    }

}

