Cliente\DWEC-25_26\.git
Node\OPT-25_26-main\Ejercicios\UD1\node_modules
Node\OPT-25_26-main\Ejercicios\UD2\01-Servidor\node_modules
Node\OPT-25_26-main\Ejercicios\UD2\02-ServidorExpress\node_modules
Node\OPT-25_26-main\Ejercicios\UD2\03-ServidorExpress-VariablesDeEntorno\node_modules
Node\OPT-25_26-main\UD1\03-EstructuraNode\node_modules