:root {
  --white: #ffffff;
  --grey-bg: #2d2d2d;
  --grey-txt: #535352;
  --grey-btn: rgb(54, 54, 54);
  --yellow: rgb(253, 192, 1);
  --black: #000000;
  --font-family: "Poppins", sans-serif;
}

/*******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font-family);
}

/************************************************/
/*********************BODY***************************/
button {
  background: var(--grey-btn);
  border-radius: 30px;
  height: 35px;
  width: 160px;
  color: var(--white);
  margin: 2px;
}

button:hover {
  background-color: var(--yellow);
  box-shadow: 0 0 10px rgba(54, 54, 54, 0.7);
}

.desplaza-y {
  transform: translateY(40px);
}

.desplaza-y2 {
  transform: translateY(-40px);
}

h1 {
  font-weight: 900;
  font-size: xx-large;
}

h2 {
  font-weight: bolder;
  font-size: x-large;
}

h3 {
  font-weight: bold;
  font-size: large;
}

/*********************HEADER***************************/
header {
  background-color: var(--yellow);
  height: 30px;
  display: flex;
  flex-direction: row;
}

/* header ul {
  display: none;
} */
header ul li {
  display: flex;
  padding-left: 10px;
  justify-content: end;
}

.iconos {
  display: none;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-weight: bold;
  font-size: 140%;
  /* padding: 45px; */
  /* font-size: calc(1.5rem + 4vw); */
  color: var(--grey-bg);
  display: flex;
  width: 30%;
  /* border: 1px solid; */
  align-items: center;
  justify-content: center;
}

nav {
  display: none;
  transform: translateX(150px);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked+.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-btn {
  position: fixed;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  right: 20px;
  top: 20px;
  transform: translate(200px);
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transition-duration: 0.25s;
}

.menu-btn>span::before {
  content: "";
  top: -8px;
}

.menu-btn>span::after {
  content: "";
  top: 8px;
}

.nav-menu {
  display: none;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--white);
}

.nav-menu a {
  color: var(--black);
  font-weight: bold;
  font-size: 17px;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu a:hover {
  color: var(--yellow);
}

#menu-home {
  color: var(--yellow);
}

.show-menu-lb {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

input[type="checkbox"]:checked~nav {
  display: block;
}

input[type="checkbox"]:checked~label {
  transform: translate(100px);
}

/*********************MAIN***************************/
.uno {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 30px;
  width: 90%;
  margin-top: 30px;
  gap: 30px;
  margin-bottom: 60px;
}

.uno button {
  margin-top: 20px;
}

.uno img {
  display: flex;
  flex-direction: column;
  height: 280px;
  margin: 30px;
}

.play {
  width: 20%;
  height: 80px;
  border-radius: 80px;
  background-image: url(./images/play_icon.png);
  transform: translate(150px, -200px);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
  }

  70% {
    box-shadow: 0 0 15px 25px rgba(255, 255, 255);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
  }
}

.dos {
  background-color: var(--yellow);
  color: var(--black);
  padding: 30px;
  text-align: center;
  justify-items: center;
}

form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 30px;
  justify-self: center;
  /* width: 100%; */
  align-items: center;
  padding: 8px;
}

textarea {
  border-radius: 30px;
  /* text-align:center; */
  padding: 14px;
  margin-bottom: 12px;
}

.tres {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 30px;
}

.divtres {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.ddtres {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 30px;
}

.ddtres img {
  width: 50%;
}

.cuatro {
  background-color: var(--grey-bg);
  color: var(--white);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.d4titulo {
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.d4contenido {
  background-color: var(--white);
  width: 60%;
  height: 60%;
  margin: 30px;
  justify-items: center;
  /* align-items: center; */
}

.d4contenidoDos {
  display: flex;
  background-color: var(--yellow);
  width: 90%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  transform: translate(0px, -30px);
}

.d4contenidoDos h3 {
  color: var(--black);
}

.d4contenido button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translate(0px, 20px);
}

.cinco {
  /* width: 50%; */
  text-align: start;
  width: 100%;
  justify-self: start;
}

.d5contenido {
  background-color: var(--white);
  width: 30%;
  height: 150px;
  margin: 30px;
  /* justify-items: start; */
}

.dimg {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: end;
  transform: translate(90px, 15px);
  /* transform: translateY(10px); */
}

.txtamarillo {
  color: var(--yellow);
  font-weight: bold;
}

.seis {
  margin: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

.seis img {
  width: 30%;
  align-self: center;
}

.seistext {
  margin: 2%;
  border: 1px solid var(--grey-txt);
  border-radius: 10px;
  padding: 6%;
}

/*********************FOOTER***************************/
.pelotita {
  width: 10px;
  height: 10px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 2px;
}

.ti-foot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 4px;
}

footer {
  background-color: var(--grey-bg);
  display: grid;
  grid-template-rows: repet(1fr);
  color: var(--white);
  padding: 20px;
  gap: 10px;
}

footer li {
  color: var(--yellow);
}

footer button {
  border: 2px solid var(--white);
  background-color: var(--yellow);
  border-radius: 5px;
  margin: 4px;
}

footer button:hover {
  background-color: var(--white);
  box-shadow: 0 0 15px rgba(253, 192, 1, 0.7);
  color: var(--yellow);
}

footer form input {
  background-color: transparent;
  border: 2px var(--white) solid;
  border-radius: 5px;
  width: 40%;
  color: var(--white);
}

footer p {
  color: var(--grey-txt);
}

/*********** DESKTOP DESIGN *****************/
@media screen and (min-width: 1200px) {
  *************Header******************** header ul {
    display: flex;
  }

  header ul li {
    display: flex;
    padding-left: 10px;
  }

  .iconos {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  *************Main******************** .uno {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .cont-uno {
    display: grid;
    grid-template-columns: 30% 50%;
  }

  .uno-cont-img {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .uno-cont-img div {
    width: 50px;
  }

  form {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 20%) 30%;
    gap: 10px;
    /* width: 40%; */
  }

  .divtres {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }
  .cuatro{
    display: grid;
    grid-template-columns:  1fr 1fr;
  }
  .d4contenido button{
    transform: translateY(-40px );
  }
}