.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: #333;
}

.contador {
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.lista {
    display: grid;
    gap: 15px;
    background: #000;
}