:root {
  --blanco: #ffffff;
  --azul: #008af8;
  --rosado: ##ee626b;
  --azul2: #0071f8;
  --azul3: #0d6efd;
  --txtclaro: #7a7a7a;
  --txt: #1e1e1e;
  --sombra: #212529;
  --negro: #000000;
  --font-family: "Poppins", sans-serif;
}
/*******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: var(--font-family);
}
/************************************************/
/*********************BODY***************************/
title{
    color: var(--txtclaro);
}
h1 h2 h3 h4 h5 h6 {
    color: var(--txt);
}
.e-redon{
    border-radius: 30px;
}
/*********************HEADER***************************/
header{
    background-image: url("../images/footer-bg.jpg");
    opacity: 60%;
    display: grid;
    grid-template-columns: 30% 70%;
}
nav {
  display: none;
  color: var(--negro);
}
.logo{
    width: 80%;
}

.show-menu-cb {
  display: none;
}

.show-menu-lb {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
  color: var(--blanco);
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}
/*********************MAIN***************************/
button{
    background-color: var(--rosado);
    color: var(--blanco);
}
