:root {
  --principal: #002900;
  --segundario: #016301;
  --terciario: #337533;
  --negro: #000000;
  --blanco: #ffffff;
}
/*******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: var(--font-family);
}
/************************************************/

/*****************Header*****************/
header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.cabecera {
  background-image: url("../images/gym-interior-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  color: var(--blanco);
  font-size: xx-large;
  font-weight: bolder;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--principal);
  margin-left: 30px;
  margin-right: 30px;
  color: var(--blanco);
  transform: translate(0px, -40%);
  border-radius: 6px;
}
.menu li {
  border-radius: 6px;
  padding: 10px;
}
.menu li:hover {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 104%;
  background-color: var(--segundario);
  transition: 1s;
}

/***********Main*************/
button {
  border-radius: 10px;
  background-color: var(--principal);
  padding: 10px;
  color: var(--blanco);
  margin-top: 15px;
}

button:hover {
  background-color: var(--segundario);
  padding: 12px;
  transition: 1s;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: 14px;
  grid-template-rows: repeat(2, 3fr);
  margin: 20px;
}
.galeria img {
  width: 100%;
  height: 100%;
}
.galeria img:hover {
  width: 105%;
  transition: 1s;
}
.intro {
  display: grid;
  grid-template-columns: 1fr, 3fr;
  gap: 60px;
  margin: 30px;
}
.i-uno {
  background-color: var(--terciario);
  display: flex;
  justify-content: center;
}
.i-uno img {
  transform: translate(0px, 30px);
  width: 90%;
}
.i-dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*********footer*********************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--terciario);
}

/****************************/
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-content: center;
    color: var(--blanco);
    border-radius: 6px;
  }
  .cabecera {
    height: 100px;
  }
  .menu li {
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-content: center;
  }
  .menu li:hover {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 14%;
    background-color: var(--segundario);
    transition: 1s;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 14px;
    grid-template-rows: repeat(1, 3fr);
    margin: 20px;
  }
  .intro {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 60px;
    margin: 30px;
    width: 100%;
  }
  .i-uno {
    background-color: var(--terciario);
    display: flex;
    align-items: center;
    width: 80%;

  }
  .i-uno img {
    transform: translate(80px, 0px);
    height: 90%;

  }
  .i-dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
