/* Añade esto al principio de tus estilos */
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  overflow: hidden; /* Añadido */
  box-sizing: border-box; /* Añadido */
}

h1 {
  font-size: 150px;
  margin: 0;
  color: #dc3545;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  margin: 20px 0;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.home-link {
  padding: 12px 30px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.home-link:hover {
  background-color: #0056b3;
}