:root {
  --blanco: #ffffff;
  --azul: #008af8;
  --rosado: #ee626b;
  --azul2: #0071f8;
  --azul3: #0d6efd;
  --txtclaro: #7a7a7a;
  --txt: #1e1e1e;
  --sombra: #212529;
  --negro: #000000;
  --font-family: "Poppins", sans-serif;
}
/*******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: var(--font-family);
}
/************************************************/
/*********************BODY***************************/
title {
  color: var(--txtclaro);
}
h1 h2 h3 h4 h5 h6 {
  color: var(--txt);
}
.e-redon {
  border-radius: 30px;
}
/*********************HEADER***************************/
header {
  background-image: url("../images/footer-bg.jpg");
  opacity: 60%;
  display: grid;
  grid-template-columns: 30% 70%;
}
nav {
  display: none;
  color: var(--negro);
}
.logo {
  width: 50%;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-btn {
  position: fixed;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--sombra);
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-btn > span::after {
  content: "";
  top: 8px;
}

.nav-menu {
  /* display: none; */
  text-align: center;
  grid-row-start: 0;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--blanco);
  border: 1px solid var(--negro);
  border-radius: 0px 0px 30px 30px;
  /* transform: translateY(60px); */
  width: 100%;

}

.nav-menu a {
  color: var(--negro);
  font-size: 17px;
}

.nav-menu li {
  padding: 10px;
  border-bottom: 1px solid var(--txtclaro);

}

.nav-menu a:hover {
  color: var(--rosado);
}

#menu-home {
  color: var(--rosado);
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

/*********************MAIN***************************/
button {
  background-color: var(--rosado);
  color: var(--blanco);
}
