:root {
  --blanco: #ffffff;
  --azul: #008af8;
  --rosado: #ee626b;
  --azul2: #0071f8;
  --azul3: #0d6efd;
  --txtclaro: #7a7a7a;
  --grismuyclaro: #ececec;
  --txt: #1e1e1e;
  --sombra: #212529;
  --negro: #000000;
  --font-family: "Poppins", sans-serif;
}
/*******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: var(--font-family);
}
/************************************************/
/*********************BODY***************************/
title {
  color: var(--txtclaro);
}
h1 h2 h3 h4 h5 h6 {
  color: var(--txt);
}
.e-redon {
  border-radius: 30px;
}
/*********************HEADER***************************/
header {
  background-image: url("../images/footer-bg.jpg");
  opacity: 60%;
  display: grid;
  grid-template-columns: 30% 70%;
}
nav {
  display: none;
  color: var(--negro);
}
.logo {
  width: 50%;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-btn {
  position: fixed;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--sombra);
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-btn > span::after {
  content: "";
  top: 8px;
}

.nav-menu {
  /* display: none; */
  text-align: center;
  grid-row-start: 0;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--blanco);
  border: 1px solid var(--negro);
  border-radius: 0px 0px 30px 30px;
  /* transform: translateY(60px); */
  width: 100%;

}

.nav-menu a {
  color: var(--negro);
  font-size: 17px;
}

.nav-menu li {
  padding: 10px;
  border-bottom: 1px solid var(--txtclaro);

}

.nav-menu a:hover {
  color: var(--rosado);
}

#menu-home {
  color: var(--rosado);
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

/*********************MAIN***************************/
button {
  background-color: var(--rosado);
  color: var(--blanco);
  padding: 10px;
  border-radius: 30px;
}
input{
  border: solid 1px var(--negro);
  border-radius: 30px;
  padding: 10px;
  width: 300px;
}
form button{
  transform: translate(-112px);
}

.pelotitaAzul{
  background-color: var(--azul);
  border-radius: 30px;
  width: 50px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;

}
.pelotitaRosa{
  width: 80px;
  height: 80px;
  background-color: var(--rosado);
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.redondoazul{
  height: 80px;
  width: 80px;
  background: var(--azul);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cont{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  box-shadow: 5px 5px 10px rgba( 33, 37, 41, 0.2) ;
}
.redondoazul:hover{
  background-color: var(--rosado);
}
.cont-2{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-top: 40px;
}
.cat{
  display: grid;
  grid-template-columns: 4fr;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 40px;

}
.cat-img{
width: 100%;
height: 100%;
display: flex;
align-content: center;
justify-content: center;
border-radius: 30px;
z-index: 6;
}
.cat-img img{
  border-radius: 30px;
  width: 80%;
  height: 80%;

}
.cat-img .pelotitaAzul{
  transform: translate(-60px, 10px);
}
.cat-txt-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  transform: translate(50px, -160px);
  padding: 30px;
  border-radius: 0px 0px 30px 30px;
}
.cat-txt-2 .pelotitaRosa{
  display: grid;
  grid-column-start: 0;
  grid-column-end: 1;
}

.cat-txt{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  transform: translate(-0px, -20px);
  padding: 30px;
  border-radius: 0px 0px 30px 30px;
}
.cat-txt .pelotitaRosa{
  height: 50px;
  width: 50px;
  color: var(--blanco);
}
.bg-gris{
  background-color: var(--grismuyclaro);
}
.bg-blanco{
  background-color: var(--blanco);
}
.cont-3{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  margin-top: 40px;
  border-radius: 150px;
  margin: 30px;
}
.cont-4{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  margin-top: 40px;

}
.cont-4 div img{
  transform: translateY(-30px);
    border-radius: 30px;

}
.cont-4 h3{
  background-color: var(--azul3);
  padding: 40px;
  border-radius: 30px 30px 0px 0px;
}
.titu{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  grid-column-start: 0;
  grid-column-end: 3;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.noti{
  background-color: var(--grismuyclaro);
  height: 350px;
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
h4{
  color: var(--rosado);
  font-weight: bolder;
}
h3{
  color: var(--sombra);
  font-weight: bold;
}
h2{
  color: var(--negro);
  font-weight: bolder;
}
h1{
  color: var(--negro);
    font-weight: bolder;

}

